table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 18px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #58629b;
    color: white;
}

.tableau h1{
    text-align: center;
    margin: 50px;
}